body {
    background-color: white;
    color: black;
}
nav {
    background-color: #facb37;
    color: #111111;
    border: 6px solid #111111;
}

header {
    background-color: blue;
    color: #f6f6f4;
    border: 6px solid #111111;
}
img {
    width: 420px;
    height: 260px;
    border: 6px solid #F6F6F4
}
h1 {
    color: #FACB37;
}
aside {
    background-color: #D83134;
    color: #F6F6F4;
    border: 6px solid #111111;
}
main {
    background-color: black;
    border: 6px solid #111111;
}
article {
    background-color: black;
    border: 6px solid #111111;
}
section{
    background-color: #FACB37;
    border: 6px solid #D83134;
}
h2 {
    color: #D83134
}
h3 {
    color: #3153d1
}