body {
    background-color: white;
    color: black;
}
nav {
    background-color: #facb37;
    color: #111111;
    border: 6px solid #111111;
}

header {
    background-color: blue;
    color: #f6f6f4;
    border: 6px solid #111111;
}
img {
    width: 420px;
    height: 260px;
    border: 6px solid #F6F6F4
}
h1 {
    color: #FACB37;
}